@model SWAT.ViewModels.ChartsModel

@{
   ViewBag.Title = "Results";
}
<div id="container1" style="width: auto;">
    @(Model.OverallChart)
</div>

<hr />
<div id="container2" style="width: auto;">
    @(Model.DetailsChart)
</div>
